*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --light-blue: #E8E6FF; /* black: #0D114F */
    --white: #FFFFFF; 
    --red: #E91438;
    --very-dark-blue: #22292C; /* light-blue: #E0ECFF */
    --blue: #3485FF;
    --background: #131516; /* #F6FAFF */
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --opacity-gray-dark: #191c20;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-liht: #E5EAF1;

    --pastel-blue: #5699FF;
    --pastel-red: #EA4B65;
    --pastel-grey: #8794A7;

    font-size: 62.5% /* 10px */
}

body{
    display: flex;
    height: 100vh;
    color: var(--light-blue);
    background: var(--background);
}

body,button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* INPUT AND BUTTONS */
input, button, .button{
    border-radius: 0.8rem;
    height: 5rem;

}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--blue);
    color: var(--white);
    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined{
    background: var(--background);
    color: var(--blue);
    border: 0.2rem solid var(--blue);
}

button.red,
.button.red{
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey{
    background: var(--grey-liht);
    color: var(--grey-dark);
}

/* HEADER */
.content header{
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 17rem;
}