.modal-wrapper.active{
    visibility: visible;
    opacity: 1;
}

.modal-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(19, 21, 22, 0.8);
    
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper .modal{
    background: var(--background);
    margin: auto;
    width: min(59rem, 90%);
    border-radius: 0.8rem;
    padding: 6.4rem;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.modal-wrapper .modal h2{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.modal-wrapper .modal p{
    margin-bottom: 2.4rem;
    color: var(--grey-liht);
}

.modal-wrapper .modal input{
    background: var(--background);
    border: 0.2rem solid var(--grey-blue);
    margin-bottom: 4rem;
    padding: 1.3rem 1.6rem;
    color: var(--white);
    outline: none;
    width: min(70%, 30.2rem);
}

.modal-wrapper .modal .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal .buttons > .button{
    margin-right: 1rem;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button{
    padding: 1.3rem 3.2rem;    
}